#calendar a {
  text-decoration: none;
}

.cal-head {
  position: relative;
  height: 20px;
  padding: 8px 6px 2px 6px;
  margin-bottom: 15px;
}

.cal-prev,
.cal-next {
  position: absolute;
  top: 9px;
  width: 9px;
  height: 10px;
  padding: 3px 4px;
  border: 1px solid transparent;
  color: #333;
  outline: 0;
}

.cal-prev::before,
.cal-next::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.cal-prev {
  left: 8px;
}

.cal-prev::before {
  border-right: 9px solid #333;
}

.cal-next {
  right: 8px;
}

.cal-next::before {
  border-left: 9px solid #333;
}

.cal-title {
  width: 120px;
  margin: 0 auto;
  color: #333;
  font: bold 14px/18px Arial;
  text-align: center;
}

.cal-title a {
  font: bold 14px/18px Arial;
  /* border: 1px solid transparent; */
  color: #f76b61;
}

.cal,
.cal th,
.cal td {
  border: none;
}

.cal {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  margin: 0;
}

.cal th {
  background: white;
  color: black;
  font-weight: 900 !important;
}

.cal tbody td {
  background-color: transparent;
  /* color: white; */
  border: 1px solid transparent;
}

.cal tbody td:has(a) {
  background-color: #e0e0e0aa;
  color: white;
  font-weight: 700;
  border: 1px solid white;
}

.cal tbody td.cal-today {
  background-color: #8ec5fc;
  color: #fffd;
}

.cal td.cal-gray {
  color: #ddd;
}

.cal th,
.cal td {
  font-weight: normal;
  line-height: 2.5625;
  padding: 0;
  text-align: center;
}

.cal-title a:hover,
.cal-prev:hover,
.cal-next:hover,
.cal .cal-foot:hover,
.cal .cal-foot:focus {
  cursor: pointer;
  background-color: transparent;
  color: #42d3d8;
}

.cal tbody td:has(a):hover,
.cal tbody td:has(a):focus {
  background-color: #ffdfdd;
  color: #fff;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .cal {
    color: white;
  }

  .cal-prev,
  .cal-next {
    color: #ccc;
  }

  .cal-prev::before {
    border-right: 9px solid #ccc;
  }

  .cal-next::before {
    border-left: 9px solid #ccc;
  }

  .cal-title {
    color: #ccc;
  }
  
  .cal th {
    background: inherit;
    color: #707e93;
    border-bottom: 1px #3c495bbb solid;
  }

  .cal tbody td:has(a) {
    background-color: #3c495bbb;
    color: white;
    font-weight: 700;
    border: 1px solid #23272F;
  }

  .cal .cal-gray {
    color: black;
  }

  .cal tbody td:has(a):hover,
  .cal tbody td:has(a):focus {
    background-color: #CBCBCB;
    color: #23272F;
  }
}
